[adlib]
  baseUrl = 'https://cjm-web.adlibhosting.com/coghentapi/wwwopac.ashx'
  username = 'coghent'
  password = 'xxx'
  limit = 10

[eventstream]
  protocol = 'https'
  hostname = 'localhost'
  port = 3000
  path = ''
  database = 'eventstream.db'
  numberOfObjectsPerFragment = 5
